<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="3">
  <test name="Test">
  <parameter name ="browser" value ="chrome"/>
   <parameter name ="username" value ="chrome"/>
   <parameter name ="password" value ="chromepwd"/>
  <!--<groups>
  <run>
  <include name ="smoke"/>
  </run>
  </groups>-->
   <classes>
      <!--<class name="demoPckg.demoTest"/>  -->
      <class name="parallelPckg.parallelTest"/>
    </classes> 
  </test>
</suite>
